
@{
    ViewData["Title"] = "AddChoice";
}

<div class="well-white text-center">
    <form>
        <div class="form-group col-md-12">
            <div class="col-md-8 col-md-offset-2">
                <label>เพิ่มตัวเลือก</label>
                <input type="text" class="form-control" placeholder="มตัวเลือก">
            </div>
        </div>
        <a asp-action="Topics" class="btn btn-black">Add Choice</a>
    </form>
</div>