
@{
    ViewData["Title"] = "AddChoice";
}

<h2>AddChoice</h2>

<form>
    <div class="form-group">
        <label>Choice</label>
        <input type="text" class="form-control" placeholder="เพิ่มตัวเลือก">
    </div>
    <a asp-action="VoteChoice" class="btn btn-default">ตกลง</a>
</form>