
@{
    ViewData["Title"] = "AddTopic";
}

<h2>AddTopic</h2>

<form>
    <div class="form-group">
        <label>Topic</label>
        <input type="text" class="form-control" placeholder="หัวข้อ">
    </div>
    <a asp-action="Topics" class="btn btn-default">ตกลง</a>
</form>