
@{
    ViewData["Title"] = "AddTopic";
}

<div class="well-white text-center">
    <form>
        <div class="form-group col-md-12">
            <div class="col-md-8 col-md-offset-2">
                <label>หัวข้อ</label>
                <input type="text" class="form-control" placeholder="หัวข้อ">
            </div>
        </div>
        <a asp-action="Topics" class="btn btn-black">Add Poll</a>
    </form>
</div>