
@{
    ViewData["Title"] = "Index";
}

<h2>Vott Me If You Can</h2>
<form>
    <div class="form-group">
        <label for="userName">User name</label>
        <input type="text" class="form-control" id="userName" placeholder="Username">
    </div>
    <a asp-action="Topics" class="btn btn-default">ตกลง</a>
</form>
