
@{
    ViewData["Title"] = "Index";
}

<div class="well-white text-center">
    <form>
            <div class="form-group col-md-12">
                <div class="col-md-8 col-md-offset-2">
                    <label for="userName">User name</label>
                    <input type="text" class="form-control" id="userName" placeholder="Username">
                </div>
            </div>
        <a asp-action="Topics" class="btn btn-black">Login</a>
    </form>
</div>

