
@{
    ViewData["Title"] = "Topics";
}
<a asp-action="AddTopic" class="btn btn-default">+Add Topic</a>

<h2>My Topics</h2>
<a asp-action="VoteChoice">Topic B</a>

<h2>Topics</h2>

<a asp-action="VoteChoice">Topic A</a>
<br />
<a asp-action="VoteChoice">Topic B</a>
<br />
<a asp-action="VoteChoice">Topic C</a>



