
@{
    ViewData["Title"] = "Topics";
}
<div class="row text-right">
    <a asp-action="AddTopic" class="btn btn-black">Create Poll</a>
</div>
<br />

<div class="well-white">
    <h2 class="text-oranger">Poll ของฉัน</h2>
    <hr />
    <h4>
        <a asp-action="VoteChoice">Topic B</a>
    </h4>
</div>

<div class="well-white">
    <h2 class="text-oranger">Poll ทั้งหมด</h2>
    <hr />
    <h4>
        <a asp-action="VoteChoice">Topic B</a>
    </h4>    
    <hr />
    <h4>
        <a asp-action="VoteChoice">Topic B</a>
    </h4>    
    <hr />
    <h4>
        <a asp-action="VoteChoice">Topic B</a>
    </h4>
</div>





