
@{
    ViewData["Title"] = "ViewVoted";
}

<h2>ViewVoted</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                ชื่อ
            </th>
            <th>
                Rating
            </th>
        </tr>            
    </thead>
    <tbody>
        <tr>
            <td>
                ธงชัย
            </td>
            <td>
                4
            </td>
        </tr>
        <tr>
            <td>
                กาย
            </td>
            <td>
                5
            </td>
        </tr>
    </tbody>
</table>